system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/priv-app/Velvet/Velvet.apk
system/system/apex/com.android.vndk.current.apex
system/system/priv-app/HMDCamera/HMDCamera.apk
modem.img
